.ErrorList {
  position: relative;
  background-color: rgb(235, 235, 235);
  width: auto;
  height: 30%;
  padding: 15px;
  border-radius: 15px;

  & .ErrorItem {
    background-color: #dbdbdb;
    padding: 10px 5px;
    border-radius: 5px;

    & span {
      background-color: rgba(255, 71, 71, 0.394);
      border-radius: 2px;
      padding: 1px 3px 4px 3px;
    }
  }
}